:root{

    --ru-bg-007fff :#007fff;
    --ru-bg-FFFFFF :#FFFFFF;



    --ru-text-007fff :#007fff;
    --ru-text-FFFFFF :#FFFFFF;

    --ru-border-FFFFFF :#FFFFFF;


}


body{
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}


/* text color  */
.ru-text-FFFFFF{
    color: var(--ru-text-FFFFFF);
}

/* Button color  */
.btn-1{
    font-size: 16px !important;
}
.btn-outborder-007fff{
    --bs-btn-color: var(--ru-text-007fff);
    --bs-btn-bg: var(--ru-bg-FFFFFF);
    --bs-btn-border-color: var(--ru-border-007fff);
    --bs-btn-hover-color: var(--ru-text-007fff);
    --bs-btn-hover-bg: var(--ru-bg-FFFFFF);
    --bs-btn-hover-border-color: var(--ru-border-007fff);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--ru-text-007fff);
    --bs-btn-active-bg: var(--ru-bg-FFFFFF);
    --bs-btn-active-border-color: var(--ru-border-007fff);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--ru-text-007fff);
    --bs-btn-disabled-bg: var(--ru-bg-FFFFFF);
    --bs-btn-disabled-border-color: var(--ru-border-007fff);
}


/* header css  */
.header-s1{
    background-color: var(--ru-bg-007fff) !important;
}
.header-s1 .nav-link{
    color: white;
}
.header-s1 .collapse:not(.show){
    display: block;
}
/* Cutom css  */

.overplay{
    position: fixed;
    width: 100%;
    height: 100%;
        background: #00000021;
        top: 0;
        left: 0;
        transition: 0.8s;

}
